.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .infoHeader{
    background-color: #7846c3;
    height: 80px;
    display: flex;
    border-bottom: 8px solid #481f85;
  }
  
  
  .search{
    float: right;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: flex-end;
  }
  
  .search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer; ;
    background: #ffa400;
    background-image:url("./img/IconSearch.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
  
  }
  .search-box + label .search-icon {
    color: black;
  }
  .search-box:hover {
    color: white;
    box-shadow: 0 0 0 0px #e7e7e7;
    background: #d78c00;
    background-image:url("./img/IconSearch.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .search-box:hover + label .search-icon {
    color: white;
  }
  .search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
  }
  .search-box:focus + label .search-icon {
    color: black;
  }
  .search-box:not(:focus) {
    text-indent: -5000px;
  }
  
  #search-submit {
    position: relative;
    left: -5000px;
  }
  
  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
  }
  
  .navMenu{
    height: 80px;
    display: flex;
    flex: 1;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    background-position:10% 40% ;
    background:linear-gradient(0deg, rgb(72 31 133 / 0.52), rgb(0 0 0 / 50%)),url("./img/navimg1.jpg");
    background-size: cover;

    margin-bottom: 17px;
  }
  .menu{
    display: flex;
  }
  .menu .item{
    display: flex;
    background-color: rgba(27, 27, 27, 0.382);
    padding: 10px 9px;
    color: white;
    margin: 0px 8px;
    width: 100px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
  }
  .menu  .active{
    /* background-color: rgb(41, 41, 52); */
    border-bottom: #ffa400 solid 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .navMenu ul{
    display: flex;
  }
  .navMenu ul{
    display: flex;
  }
  
  .navMenu .item{
    display: flex;
    background-color: rgba(27, 27, 27, 0.382);
    padding: 10px 9px;
    color: white;
    margin: 0px 8px;
    width: 100px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: #ffa60000 solid 5px;
  }
  .navMenu .item:hover{
    /* background-color: rgb(41, 41, 52); */
    border-bottom: #ffa400 solid 5px;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
  }
  .navMenu a:hover{
    text-decoration: none;
  }
  
  .warpper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#000;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
  .panels{
    background:#fffffff6;
    /* box-shadow: 0 2rem 2rem #00000080; */
    min-height:200px;
    width:100%;
    max-width:500px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;  
  }
  .panel{
    display:none;
    animation: fadein .8s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .panel-title{
    font-size:1.5em;
    font-weight:bold
  }
  .radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #000;
  }






  /* -----Cards news-------- */















.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 300px;
    height: 280px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .post-module:hover,
  .hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  }
  .post-module:hover .thumbnail img,
  .hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
  }
  .post-module .thumbnail {
    background: #ffffff;
    height: 200px;
    overflow: hidden;
  }
  .post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #7846c3;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .post-module .thumbnail .date .day {
    font-size: 18px;
  }
  .post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
  }
  .post-module .thumbnail img {
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 12px 10px 15px 10px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  }
  .post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #7846c3;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
  }
  .post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 2px;
    color: #7846c3;
    font-size: 16px;
    font-weight: 400;
  }
  .post-module .post-content .description {
    /* display: none; */
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
  }
  .post-module .post-content .post-meta {
    margin: 3px 0 0;
    color: #807e7e;
    padding-top: 5px;
  }
  .post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
  }
  .post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
  }
  .hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
  }
  .container {
    max-width: 800px;
    min-width: 640px;
    margin: 0 auto;
  }
  .containerCard {
    /* max-width: 800px; */
    min-width: 440px;
    margin: 0 auto;
    justify-content: center !important;

  }
  .containerCard:before,
  .containerCard:after {
    content: '';
    display: block;
    clear: both;
  }
  .containerCard .column {
    width: 30%;
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;

    margin-bottom: 20px;
  }
  .containerCard .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .containerCard .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  .containerCard .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }
  .containerCard .info span {
    color: #666666;
    font-size: 12px;
  }
  .containerCard .info span a {
    color: #000000;
    text-decoration: none;
  }
  .containerCard .info span .fa {
    color: #7846c3;
  }
  .text-title{
    color: #7846c3 !important;
  }







  /* LOADER */


  .skype-loader {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  
  .skype-loader .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  
    animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
  }
  
  .skype-loader .dot:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .skype-loader .dot:nth-child(2) {
    animation-delay: 0.35s;
  }
  
  .skype-loader .dot:nth-child(3) {
    animation-delay: 0.45s;
  }
  
  .skype-loader .dot:nth-child(4) {
    animation-delay: 0.55s;
  }
  
  .skype-loader .dot:after, .skype-loader .dot .first {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #ffa400;
    border-radius: 50%;
    left: 50%;
    margin-left: -4px;
  }
  
  .skype-loader .dot .first {
    background: #ffa400;
    margin-top: -4px;
    animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    animation-delay: 0.2s;
  }
  
  @keyframes dotrotate { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); }
  }
  
  @keyframes dotscale { 
    0%, 10% { width: 16px; height: 16px; margin-left: -8px;  margin-top: -4px; } 
    50% { width: 8px; height: 8px; margin-left: -4px; margin-top: 0; }
    90%, 100% { width: 16px; height: 16px;  margin-left: -8px;  margin-top: -4px; }
  }